<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>Mosyle</string>
	<key>PluginSlug</key>
	<string>mosylelink</string>
	<key>PluginUUID</key>
	<string>BFCF32C8-505D-4C9A-8B15-08A62F6406FB</string>
	<key>PluginVersion</key>
	<string>1.0.0.0</string>
	<key>ProgramArguments</key>
	<array>
		<string>_wm_mosyle_link.plugin</string>
	</array>
</dict>
</plist>
